{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}

    {% if app.user %}

      {% if not app.user.team %}
      {# Utilisateur non affecté à un groupe #}
      <div class="container">
        <div class="row featurette">
          <div class="col-md-12">
            <h2 class="featurette-heading">Salutations {{app.user.fullName}} !</h2>
            <p class="lead"> Avant de parier sur les matchs il est nécessaire de faire partie d'un groupe :  </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
                <h5 class="card-header text-center">Rejoindre un groupe</h5>
                <div class="card-body">
            <form action="{{ path('team_join') }}" method="post">
              <div class="form-group">
                  <label for="tag">Tag</label>
                  <input type="text" id="tag" name="tag" value="" class="form-control"/>
              </div>
              <button type="submit" class="btn btn-primary">
                  <i class="fa fa-sign-in" aria-hidden="true"></i> Rejoindre !
              </button>
            </form>
            </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="card">
                <h5 class="card-header text-center">Créer un nouveau groupe</h5>
                <div class="card-body">
              {{ form_start(form) }}
              {{ form_row(form.name) }}
              <button type="submit" class="btn btn-primary">
                  <i class="fa fa-sign-in" aria-hidden="true"></i> Créer une équpe !
                  {{ form_end(form) }}
              </button>
            </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      {% else %}
      {# Utilisateur connecté et dans un groupe #}
      <div class="row featurette">
          <div class="col-md-12">
              <h2 class="featurette-heading">Salut {{ app.user.username }}</h2>
              <p class="lead">
                Votre score actuel est de : {{ app.user.score }}
              </p>
          </div>
      </div>

      {% endif %}
    {% else %}
    {# Utilisateur non connecté #}
    <div class="row featurette">
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">Qu'est ce que c'est ?</h2>
        <p class="lead"> Très bonne question Eustache ! Chips bière est une application web permettant de parier sur les matchs à venir de la coupe du monde en cours.
          Comme vous ne voulez pas être en compétition avec n'importe qui vous devez rejoindre un groupe pour commencer la compétition, vous pourrez ainsi invité être en compéition contre vos amis et commencé ainsi la battaile pour savoir qui est le meilleur spécialiste, ou le plus chanceux.</p>
      </div>
      <div class="col-md-5 pull-md-7">
        <img class="featurette-image img-fluid mx-auto" src="https://www.tuxboard.com/photos/2014/08/aventures-de-robert-720x402.jpg" />
      </div>
    </div>

    {% endif %}

{% endblock %}
