<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('rank') }}">Classement</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Matchs</a>
                </li>
            </ul>
            {% if not app.user %}
              <form class="form-inline">
                  <a class="btn btn-outline-success" href="{{ path('security_login') }}" >
                    <i class="fas fa-sign-in-alt"></i>  Connection
                  </a>
                  <a class="btn btn-outline-info" href="{{ path('register') }}" >
                    <i class="fas fa-user-plus"></i> Inscription
                  </a>
              </form>
            {% else %}
              <form class="form-inline">
                  <a class="btn btn-outline-dark" href="{{ path('index') }}" >
                     <i class="fas fa-user"></i> {{app.user.username}}
                  </a>
                  <a class="btn btn-outline-danger" href="{{ path('security_logout') }}">
                     <i class="fas fa-sign-out-alt"></i> Déconnexion
                  </a>
              </form>
            {% endif %}
        </div>
    </nav>
    <div id="header" class="jumbotron">
        <div class="container">
            <h1 class="display-2">Chips-Bière</h1>
            <p class="lead">Des chips, de la bière et des paris en ligne sur les matchs de la coupe du monde de Football.</p>
        </div>
    </div>
</header>
